process {
    
    // Default process values if label is foregone
    time = { check_resources( 4.h * task.attempt, params.max_time ) }
    memory = { check_resources( 8.GB * task.attempt, params.max_memory ) }
    cpus = { check_resources(1 * task.attempt, params.max_cpus ) }

    // Error strategy
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'terminate' }
    maxRetries = 3
    maxErrors = '-1'

    withLabel:process_low {
        cpus = { check_resources( 1 * task.attempt, params.max_cpus ) }
        memory = { check_resources( 4.GB * task.attempt, params.max_memory ) }
        time = { check_resources( 1.h * task.attempt, params.max_time ) }
    }

    withLabel:process_medium {
        cpus = { check_resources( 8 * task.attempt, params.max_cpus ) }
        memory = { check_resources( 16.GB * task.attempt, params.max_memory ) }
        time = { check_resources( 8.h * task.attempt, params.max_time ) }
    }

    withLabel:process_high {
        cpus = { check_resources( 12 * task.attempt, params.max_cpus ) }
        memory = { check_resources( 60.GB * task.attempt, params.max_memory ) }
        time = { check_resources( 24.h * task.attempt, params.max_time ) }
    }

}
